.heroViewWrapper {
    border: 5px solid black;
    background-color: white;
    display: grid;
    width: 50%;
    min-height: 800px;
    margin: 0 auto;
    margin-bottom: 3%;
    font-size: 0.9em;
    grid-template:
    "name name name" 5%
    "youth-adult youth-adult youth-adult" 4%
    "members members members" 15%
    "headshot bio bio" 20%
    "headshot work work" 23%
    "pic2 pic2 pic3" 33%
    / 35% 20% 45%;
}

@media (max-width: 1400px) {
    .heroViewWrapper {
        width: 60%; 
    }
}

@media (max-width: 1150px) {
    .heroViewWrapper {
        width: 75%; 
    }
}

@media (max-width: 925px) {
    .heroViewWrapper {
        width: 90%; 
    }
}

@media (max-width: 775px) {
    .heroViewWrapper {
        width: 100%; 
    }
}

* {
    text-align: center;
    padding: 1px;
    margin: 1px;
    box-sizing: content-box;
}

.grid-title {
    font-size: 1.1em;
}


.name-item {
    grid-area: name;
    font-size: 1.5em;
    max-height: 1fr;
    border: 2px solid black;
    overflow-wrap: anywhere;
}

.youth-adult-item {
    grid-area: youth-adult;
    font-size: 1.25em;
    font-weight: 600;
    border: 2px solid black;
}

.members-item {
    grid-area: members;
    border: 2px solid black;
    overflow-wrap: break-word;
    font-size: 1em;
    overflow: auto;
}

.membertable, .membertable td, .membertable th {
    padding: 4px;
    border: 1px solid black;
}


.membertable {
    min-width: 120%;
    border-collapse: collapse;

}

.members-item p {
    line-height: 15px;
}
/*.category-item {
    grid-area: category;
    max-height: 0.75fr;
    font-size: 1.25em;
    font-weight: bold;
    border: 2px solid black;
    overflow-wrap: anywhere;
}*/

.headshot-item {
    grid-area: headshot;
    max-height: 5.75fr;
    border: 2px solid black;
    overflow-wrap: anywhere;
}

.headshot {
    height: 100%;
    width: 100%;
    object-fit: cover;
}


.bio-item {
    grid-area: bio;
    border: 2px solid black;
    overflow-wrap: anywhere;
}

.work-item {
    grid-area: work;
    border: 2px solid black;
    overflow-wrap: anywhere;
}


.pic2-item {
    grid-area: pic2;
    border: 2px solid black;
}

.pic2-pic {
    width: 100%;
    height: 100%;
    object-fit:cover;
}

.pic3-item {
    grid-area: pic3;
    border: 2px solid black;
}

.pic3-pic {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
